body {
  background-image: url(42.jpg);
  background-size: 100%;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
}

.numbers,
.buttons {
  margin-left: auto;
  margin-right: auto;
}
